body, div, ul{
    padding: 0;
    margin: 0;
}

#main{
    width: 100%;
    margin: 0 auto;
}

#header{
    width: 2000px;
    height: 100px;
    background: #6a84b7;
    margin: 0 auto;
    display: flex;
}

#logo_box{
    width: 500px;
    height: 100px;
    background: red;
}

#logo_menu{
    width: 1500px;
    height: 100px;
    background: blue;
}

#content{
    width: 2000px;
    height: 800px;
    background: lightgreen;
    margin: 0 auto;
}