*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

#main{
    width: 1700px;
    height: auto;
}

#header{
    width: 1700px;
    height: 100px;
    display: flex;
}

#logo_box{
    width: 300px;
    height: 100px;
    background: #E60012;
}

#logo_box img{
    max-width: 300px;
    max-height: 100px;
}

#account_box{
    display:flex;
}

#login_box{
    width: 300px;
    height: 200px;
    background: #fff;
}

#id_box{
    display: flex;
    margin-left: 40px;
}
#pw_box{
    display: flex;
    margin-left: 40px;
}

.login_input input{
    width: 200px;
    margin-top: 20px;
    border: none;
    border: 3px solid #dfdfdf;
    border-radius: 6px;
}

.login_input ::placeholder{
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: none;
}

.login_bt{
    width: 100px;
    height: 50px;
}

.login_bt button{
    width: 200px;
    height: 30px;
    border: 3px solid #dfdfdf;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 40px;
    background: #fff;
}

.login_bt button:hover{
    background: #E60012;
    cursor: pointer;
}

.login_bt button:hover a{
    background: #E60012;
    color: #fff;
    cursor: pointer;
} 

.login_bt button a{
    text-decoration: none;
}

.login_bt button a:hover{
    color: #fff;
    cursor: pointer;
}


#account_box{
    width:300px;
    height: 200px;
    display: flex;
    margin-left: 35px;
    margin-top: 10px;
}

.sign_ing_bt button{
    width: 64px;
    height: 30px;
    font-size: 12px;
    border: 3px solid #fff;
    border-radius: 6px;
   
}

.sign_ing_bt button a{
    text-decoration: none;
    color: black;
}

.find button{
    width: 144px;
    height: 30px;
    border: 3px solid #fff;
    border-radius: 6px;
}

.find button a{
    text-decoration: none;
}

#aside_menu{
    width: 300px;
    height: 600px;
    
}

#aside_menu_list{
    width: 200px;
    height: 200px;
}

#aside_menu_list li{
    list-style: none;
    color: #fff;
}

#aside_menu_list button{
    width: 300px;
    height: 100px;
    background: #fff;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
}

#aside_menu_list button a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#aside_menu_list button:hover{
    color: #FFBB00;
}

#content{
    width: 1700px;
    height: 800px;
    display: flex;
}

#aside_content{
    width: 300px;
    height:800px;
}

#main_content{
    width: 1400px;
    height: 800px;
    display: flex;
    border: 3px solid #dfdfdf;
    border-radius: 6px;
}

#join_mask{
    width:100%;
    height:auto;
}

#join_wrap{
    width:700px;
    height:auto;
    margin:0 auto;
    margin-top:50px;
}

#join_wrap fieldset{
    border-radius:10px;
    padding:30px 20px 10px 20px;
}

.input_wrap{
    width:660px;
    height:35px;
    line-height:35px;
    margin-bottom:10px;
    display:flex;
}

.title{
    width:150px;
    font-size:17pt;
    font-weight:700;
    text-align:right;
    padding-right:10px;
}

.join_input input{
    width:300px;
    height:28px;
    font-size:13pt;
    border:2px solid #999;
    border-radius:10px;
}

#name{width: 150px;}

.join_ipnut select{
    width:100px;
    height: 28px;
    border:2px solid #999;
    border-radius:10px;
}

#join_bt{
    width:150px;
    height:37px;
    margin:0 auto;
    margin-bottom:50px;
}

#join_bt a{
    text-decoration:none;
    background: #dfdfdf;;
    display:block;
    height:37px;
    line-height:37px;
    text-align:center;
    color:black;
    font-weight:900;
    border-radius:10px;
}
#join_bt a:hover{
    color: #fff;
    background: #E60012;
}