/* div_style_test1.css */

body , ul ,  li{
    padding:0;
    margin:0;
}

.container{
    display:flex;
    flex-direction: column;
    width:100%;
    height:200vh;
}

.header{
    flex-basis:10%;
    background:#fff;
    display: flex;
    flex-direction: column;

}

.list_wrap{
    background: #243c84;
    flex-basis: 50%;
    font-size:13px;
    font-family:나눔고딕;
    color:#fff;
}

.li1 li{
    list-style:none;
    float: left;
    padding:5px 5px 0 5px;
    line-height: 50px;
}

.li2_wrap{
    width:900px;
    height:70px;
    float:right;
}

.li2 li{
    padding:5px 5px 0 5px;
    color:#fff;
    list-style:none;
    text-align:right;
    float: left;
}

.li2_1{
    line-height: 25px;
}

#srh_wrap{
    width:200px;
    height:50px;
    display:flex;

}

#srh_word{
    width:122px;
    height:28px;
    border:none;
}

#srh_butt{
    width:38px;
    height:30px;
    border:none;
}
#butt_img{
    color:#fff;
}

#logo_wrap{
    font-family:나눔고딕;
    font-size:16px;
}
#logo{
    margin-top:30px;
    margin-left:800px
}

.logo_menu{
    margin:20px auto;
    width:1200px;
    text-align:center;
}

.menu_list{
    text-align:center;
}
.menu_list li{
    list-style:none;
}

.menu_list:after{
    display:block;
    content:'';
    clear:both;
}

.menu_list > li{
    position:relative;
    float:left;
    margin-right:5px;
}

.menu_list > li > a{
    width:150px;
    display: block;
    background: #fff;
    height:30px;
    line-height: 30px;
    color:black;
    text-decoration:none;
}

.menu_list > li > ul >li{
    color:black;
    background:#eee;
    text-align:center;
    font-size: 13px;
    padding-top:10px;
}

.menu_list > li:hover .bean{
    display: block;
}

.menu_list .bean{
    display: none;
    position: absolute;
    left:0;
    right:0;
    margin-left:30px;
}

.menu_list .bean a{
    display: block;
    padding: 5px;
}

.menu_list .bean li{
    margin-right:30px;
}
/*  */
.menu_list > li:hover .drink{
    display: block;
}

.menu_list .drink{
    display: none;
    position: absolute;
    left:0;
    right:0;
}
.menu_list .drink a{
    display: block;
    padding: 5px;
}

/* */
.menu_list > li:hover .stick{
    display: block;
}

.menu_list .stick{
    display: none;
    position: absolute;
    left:0;
    right:1;
    margin-left:30px;
}
.menu_list .stick a{
    display: block;
    padding: 5px;
}
.menu_list .stick li{
    margin-right:30px;
}
/*  */
.menu_list > li:hover .members{
    display: block;
}

.menu_list .members{
    display: none;
    position: absolute;
    left:0;
    right:1;
    margin-left:30px;
}

.menu_list .members a{
    display: block;
    padding: 5px;
}

.menu_list .members li{
    margin-right:30px;
}
/*  */
.menu_list > li:hover .gift{
    display: block;
}

.menu_list .gift{
    display: none;
    position: absolute;
    left:0;
    right:1;
    margin-left:30px;
    
}

.menu_list .gift a{
    display: block;
    padding: 5px;
}
.menu_list .gift li{
    margin-left:5px
}
/*  */
.menu_list > li:hover .social{
    display: block;
}

.menu_list .social{
    display: none;
    position: absolute;
    left:0;
    right:1;
    margin-left:30px;
    
}
.menu_list .social a{
    display: block;
    padding: 5px;
}

.menu_list .social li{
    margin-left:5px
}
/*  */
.menu_list > li:hover .notice{
    display: block;
}

.menu_list .notice{
    display: none;
    position: absolute;
    left:0;
    right:1;
    margin-left:30px;
   
}
.menu_list .notice a{
    display: block;
    padding: 5px;
}
.menu_list .notice li{
    margin-left:5px;
}



.center{
    background:#eee;
    flex-basis:80%;
    display:flex;
    flex-direction:column;
}

.footer{
    background:#262626;
    flex-basis:15%;
    color:#fff;
}

.section1{
    flex-basis:45%;
    background-image:url(ediya_img1.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}

.section2{
    flex-basis:35%;
    background-image:url(ediya_img2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.section3{
    background: #243c84;
    flex-basis:13%;
    background-image:url(ediya_img3.jpg);
}