body{ margin: 0; padding: 0; box-sizing: border-box;}
#mask{
    width: 600px;
    height: auto;
    border: 1px solid #1EDF57;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
}
#display_wrap{ width: 600px; height: 200px; display: flex;}
#com_dp, #user_dp{
    width: 290px;
    height: 190px;
    padding: 5px;
    border-right: 1px solid #1EDF57;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #1EDF57;
    text-shadow: 1px 1px 1px #6f6f6f;
    display: flex;
    flex-direction: column;
}
#com_dp{ border-right: none;}
.title{  width: 100%;  height: 15%;}
.img_box{
    display: flex;
    position: relative;
    width: 100%;
    height: 85%;
}
#ment_wrap{
    width: 590px;
    height: 90px;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-top: 1px solid #1EDF57;
    border-bottom: 1px solid #1EDF57;
}
#ctrl_wrap{
    width: 590px;
    height: 150px;
    padding: 5px;
    position: relative;
}
#start{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-20%,-50%);
    cursor: pointer;
    border: none;
    background: #6040ec;
    color: white;
    box-shadow: 3px 3px 3px #6f6f6f;
    text-shadow: 1px 1px 1px #6f6f6f;
}
.dp_img{ width: 33.3%; height: 100%; position: relative;}
img{
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#start:active{
    border: 1px solid #1EDF57;
    color: #1EDF57;
    background: white;
    text-shadow: 1px 1px 1px #6f6f6f;
}
#retry{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%,-50%);
    cursor: pointer;
    border: none;
    background: #6040ec;
    color: white;
    box-shadow: 3px 3px 3px #6f6f6f;
    text-shadow: 1px 1px 1px #6f6f6f;
}