/*table.css*/
table tr td{
    border:1px solid black;
    width:200px;
    height:300px;
}

.dog img{
    width:195px;
    height:auto;
}

p{
    font-size:20pt;
    font-weight:700;
    text-shadow:5px 5px 5px gray;
    /* x좌표, y좌표 시작점은 맨 왼쪽 위가 시작점.(0.0) -값은 없음. 마지막은 농도.*/
}

hr{
    /*hr은 가운데 정렬로 그려짐.*/
    width:610px;
    margin-left:0;
    /*margin은 태그의 바깥 쪽 여백.
    padding은 태그 안 쪽의 여백.
    table 태그로 봤을 때. table선 바깥 쪽 여백이 margin
    선 안 쪽 여백이 padding.*/
}
.dog p{
    font-size:12pt;
    font-weight:500;
    text-shadow:none;
}