/* table.css */

#one td{
    border:1px solid black;
    width:100px;
    height:50px;
}

#two td{
    border:3px solid red;
    width:200px;
    height:80px;
}

#three td{
    border:1px solid blue;
    height:30px;
}

/* :hover 마우스가 해당 위치에 올라와있는 상태 */
#one:hover td{
    border:3px solid green;
    /* id가 one인 태그위에 마우스를 올리면
    해당 태그의 하위 태그인 td에 style을 적용하겠다.*/
}

#two:hover td{
    background:pink;
}

.color{
    border:1px solid black;
    width:50px;
    height:50px;
}

.black{
    background:black;
    color:white;
}
.blue{
    background:blue;
    color:white;
}
.red{
    background:red;
    color:white;
}
.green{
    background:green;
    color:white;
}
.yellow{
    background:yellow;
    color:black;
}

.black:hover{
    background:white;
}

.color_box td{
    border:1px solid black;
    width:300px;
    height:300px;
    font-size:40pt;
    text-align:center;
}

.red1:hover{background:red; color:white;}
.orange:hover{background:orange; color:black;}
.yellow1:hover{background:yellow; color:black;}
.green1:hover{background:green; color:white;}
.blue1:hover{background:blue; color:white;}
.darkblue:hover{background:darkblue; color:white;}
.purple:hover{background:purple; color:white;}
.black1:hover{background:black; color:white;}