/* div_style_test1.css */

body, div, input, button, ul{
    margin:0;
    padding:0;
}

#mask{
    width:1500px;
    height:100px;
    background:#243c84;
    margin:0 auto;
}

.start_home{
    color:#fff;
}

.start_home ul li{
    list-style:none;
    float:left;
}

.logo_srh{
    float:left;
}

.start_menu{
    color:#fff;
    float:right;
}

.start_menu ul li{
    list-style:none;
    float:left;
}

