/* daum.css */

body, ul{
    margin:0;
    padding:0;
}

#mask{
    width:100%;
    height:auto;
    font-size:12pt;
    text-align:center;
}

#srh_wrap{
    width:1200px;
    height:auto;
    margin:0 auto;
}

.start_home{
    font-size:11px;
    text-align:left;
}
.logo_srh{
    display:flex;
    width:1200px;
    margin-top:30px;
}

.logo{
    font-size:27pt;
    width:200px;
    padding-top:15px;
}

.srh_location{
    width:1000px;
    padding-top:15px;
}
.srh_box{
    display:flex;
    border:1px solid #0089ff;
    width:580px;
}

.srh_box input{
    border:0;
    background:white;
}

#srh_word{
    width:500px;
    height:50px;
    font-size:15pt;
}

.srh_location input[type=button]{
    width:80px;
    height:50px;
    font-size:15pt;
}

#menu_wrap{
    width:100%;
    height:auto;
    border-top:1px solid rgb(234, 234, 234);
    border-bottom:1px solid rgb(70, 70, 70);
    margin-top:20px;
    display:flex;
}

#menu_box{
    width:400px;
    height:45px;
    margin-left:407px;
}

#menu_list{
    list-style:none;
    width:1200px;
    padding:0;
    margin:0;
}

.menu_title{
    height:45px;
    font-size:13px;
    font-weight:700;
    line-height:45px;
    float: left;
    display:inline;
    margin-right:30px;
    text-align:right;
}

#wt_box{
    margin-left:585px;
}
#wt_list{
    list-style:none;
    height:45px;
    padding:0;
    margin:0;
}
.wt_date{
    display:inline;
    margin-right:30px;
    height:45px;
    line-height:45px;
    float: left;
    font-size:13px;
    font-weight:700;
}

#content_wrap{
    width:100%;
    height:auto;
    margin-top:20px;
}

.content_box{
    width:1200px;
    margin:0 auto;
    height:auto;
    display:flex;
}

.ad{
    width:800px;
    height:200px;
    margin-left:45px;
    display:flex;
}

.login{
    width:350px;
    height:200px;
    margin-left:30px;
    background:lightgrey;
}
