/* board_view.css */
#view_box{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

#view_wrap{
    width: 800px;
    height: auto;
    margin:0 auto;
}

/* 게시글 작성 폼 */
.view_form{
    width: 800px;
    height: 600px;
    margin-top:50px;
}

.box{
    display: flex;
    width: 800px;
    height:40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.box_title{
    width: 150px;
    padding-right: 15px;
    text-align: right;
    font-size: 20px;
}

.box_input input{
    height: 20px;
    width: 300px;
}

.box_input textarea{
    width: 600px;
    height: 400px;
    resize: none;
}

.row_box{
    display:flex;
    width: 400px;
}

#date, #view_count{
    width:170px;
}

.count{
    text-align:right;
    margin-left:88px;
}

.content_box{
    height: auto;
}

.bt_box{
    width:600px;
    height: 50px;
    display:flex;
    position: relative;
    margin-left: 165px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bt_box div{
    width: 33.3%;
}

.bt{
    width: 150px;
    height: 40px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}


#list_bt{
    width: 150px;
    height: 40px;
    background:black;
    border-radius: 15px;
    color: #FFF;
    font-size: 15pt;
    font-weight: 800;
}

#list_bt a{
    text-decoration:none;
    color:#fff;
}

#change_bt{
    width: 150px;
    height: 40px;
    background:black;
    border-radius: 15px;
    color: #FFF;
    font-size: 15pt;
    font-weight: 800;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

#del_bt{
    width: 150px;
    height: 40px;
    background:black;
    border-radius: 15px;
    color: #FFF;
    font-size: 15pt;
    font-weight: 800;
    position: absolute;
    left: 75%;
}

