h1{
    text-align:center;
    font-weight:800;
    text-shadow:5px 5px 5px gray;
}

#t1{
    margin-left:150px;
}
#t1 tr td{
    border:1px solid black;
    border-left:1px solid black;
    border-bottom:1px solid black;
    width:390px;
    
}

#t2{
    margin-left:150px;
}

#t2 tr th{
    border:1px solid black;
    text-align:center;
}
#t2 tr td{
    border:1px solid black;
    border-left:1px solid black;
    border-bottom:1px solid black;
    width:250px;
    height:50px;
    
}
.s1{
    background:#FFB2D9;
    font-size:20pt;
    font-weight:800;
    padding-left:10pt;
}

.s2{
    font-size:15pt;
    background:#FFD9Ec;
}

.s3{
    background:#FFB2D9;
    font-size:20pt;
    
}

.s4{
    font-size:15pt;
    padding-left:10pt;
    background:#FFD9Ec;
}

.s5{
    text-align:center;
    font-size:15pt;
}