/* 오전 과제
html, css, javascript 사용하여 게임 만들기.

3가지 중 택 1
 vs컴퓨터
 이미지도 삽입

1. 가위바위보
 -가위바위보 승, 무, 패
 -컴퓨터 출력값 이미지는 계속 변화하고 유저가 선택할 가위바위보는 이미지 따로 두기
  이 때, 유저가 이미지 선택하면 결과 나오는 형태로 만들기
 -마우스 클릭으로만 작동하기
 //Js변수 폴더 => js_test05.html, js_test07.html 참고

2. 주사위 게임
 -주사위는 3개
 -승리 조건 1순위) 1 트리플(1,1,1) 
	   2순위) 3 트리플(3,3,3)
	   3순위) 합이 큰 쪽
 //Js변수 폴더 => js_test04.html 참고

3. 로또
 -1~45 중 여섯 개의 숫자를 입력(중복 입력 불가)
 -로또 당첨번호는 랜덤함수로 여섯 개 출력
 -내가 입력한 숫자와 당첨 번호 비교하여 5등, 4등, 3등, 1등 여부 출력하기  */

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#game{
	width: 640px;
	height: 600px;
	margin: 200px  auto;
	position: relative;
}

.btn{
	top:70%;
	position: absolute;
	border: none;
	border-radius: 6px;
}
#siccor{
	right:370px;
}
#siccor img{
	max-width: 90px;
	max-height: 120px;
}
#rock{
	right:270px;
}
#rock img{
	max-width: 90px;
	max-height: 120px;
}
#paper{
	right:170px;
}
#paper img{
	max-width: 90px;
	max-height: 120px;
}
#reset{
	border: 1px solid #dfdfdf;
	border-radius: 6px;
	font-size:20px;
	top:92%;
	left: 290px;
}