/* canvas.css*/

#gallery{
    border: 10px solid #111111;
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    background:#272229;
    box-shadow: #272229 10px 10px 20px;
}

.small{
    width: 120px;
    height: 90px;
}

#gallery ul{
    padding: 0;
    list-style: none;
    margin-left: 30px;
}

#gallery ul li{
    display: inline-table;
    padding: 5px;
}

.pic{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 10px;
    margin-left:-20px;
    border: 1px solid black;
    box-shadow: #272229 2px 2px 2px;
}

#gallery ul li .small:hover{
    cursor: pointer;
}

#gallery ul li:hover .pic{
    max-width: 320px;
    opacity: 1;
    visibility: visible;
    float: right;
}

.bi-apple{
    font-size: 500px;
    color: lightgray;
    text-shadow: 5px 5px 5px lightgray;
}

.bi-telephone{
    width: 400px;
    height: 200px;
    border-radius: 10%;
    background: green;
    color:#fff;
    text-shadow:2px 2px 2px lightgray;
}