body {margin: 0; padding: 0; box-sizing: border-box;}
.wrap {margin: 0 auto; width: 950px; height: auto;}
header, main, footer {width: 100%; height: auto;}
.title {text-align: center; color: #61414e; font-size: 20px; margin: 0 auto; border-bottom: 2px dashed #61414e; padding: 10px 0 10px; font-family: monospace;}
.title h1 {margin: 0 auto;}

.name {font-size: 20px; margin: 10px 0 0; font-weight: 600; color: #0aa053;}
section hr {margin: 10px 0; background: #caa156; height: 1px; border: 0;}

.cpuDiceWrap, .userDiceWrap {width: auto; height: auto; margin: 0 60px; padding: 20px 0;}
.cpuDiceWrap {padding: 0 0 40px;}
.cpuDice, .userDice {width: 250px; height: 250px; background-image: url("mint.png"); background-attachment: fixed; display: inline-block; margin: 0 10px; border-radius: 10px;}
.cpuDice img, .userDice img {max-width: 200px; margin: 25px 0 0 25px;}

.user {padding: 0 0 30px;}
.userButtonWrap {width: 600px; margin: 0 auto;}
.userButtonWrap button {width: 250px; height: 60px; cursor: pointer; background: #48f7bc; color: #4b3a37; border: none; border-radius: 10px; font-size: 28px; font-weight: 600; font-family: monospace; transition: 0.3s; margin: 0 20px; display: inline-block; box-sizing: border-box;}
.userButtonWrap button:hover {background: #4b3a37; transition: 0.5s; color: #48f7bc;}
.userButtonWrap button:active {background: #1f0906;}

.W_or_L {text-align: center; font-size: 60px; border-top: 2px dashed #61414e; color: #61414e; width: 100%; height: auto;}
.W_or_L div {width: 600px; height: auto; margin: 0 auto;}
.W_or_L p {font-size: 20px; text-align: left;}