div{
    border:1px solid black;
    width:1500px;
    margin:0px auto;
}
#line1 td{
    border:1px solid black;
    width:1500px;
    height:80px;
    text-align:right;
    padding-right:10px;
    font-size:25pt;
}

#line1:hover{
    color:#999;
    font-weight:bold;
}

#line2 td{
    width:200px;
    height:50px;
    text-align:center;
    font-size:20pt;
}

#line2 td:hover{
    color:#999;
    font-weight:bold;
}

#line3 td{
    border:1px solid black;
    height:300px;
    text-align: center;
}

#line3 ul {
    padding-left: 0px;
    list-style: none;
}

#line3 ul li{
    text-align: center;
    padding:20px;
}

.line3_1{
    background:rgb(0,100,204);
    font-size:15pt;
    color:white;
    font-weight:bold;
}
.line3_1 ul li:hover{
   background: rgb(178,235,244);
   color:black;
}

#line4 td{
    border:1px solid black;
    height:100px;
    width:200px;
    vertical-align: top;

}

hr{
    width:950px;
    margin-left:60px;
}

img{
    width:100%;
    height: auto;
}

img:hover{opacity:0.4;}


#line4 ul li{
   float: left;
   list-style:none;
   margin-left:15px;
}

#line4 td{
    width: 1500px;
}

.notice{
    border:1px solid black;
}

.news:hover{
    border:1px solid black;
}

#line4 ul{
    width:100%;
    height:50px;
}

#line4 ul:hover .notice{
    border: none;
}

#line5 td{
    border:1px solid black;
    height:50px;
}

.t{
    display:inline-block;
    width:100px;
    position:absolute;
}

.t1{border:1px solid black;}
.t2{left:270px;}
.t2:hover{
    border:1px solid black;
}
.t2:hover ~ .t1 { border:0;}
.contents{
    border-top:1px solid black;
    width:600px;
    height:10px;
    margin-top:21px;
}
.title{width:600px; height:22px;}
