/* homework_04.css */

body, ul, li{
    padding: 0;
    margin: 0;
}

#mask{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#header{
    display: flex;
    width: 100%;
    height: 120px;
    margin-left: 300px;
}

.logo{
    margin-right: 100px;
    margin-top: 40px;
}

.logo img{
    max-width: 200px;
    max-height: 100px;
}

.menu_list{
    margin-top: 70px;
}
.menu_list li{
    list-style: none;
    float: left;
    font-size: 15pt;
    font-weight: 700;
    padding-right: 110px;
}
.login li{
    list-style-type: none;
    float: left;
    padding-right: 50px;
}

#center{
    width: 100%;
    height:600px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: #F2FFED;
}

