table tr td{
    border:1px solid black;
    width:200px;
    height: 300px;
}

.dog img{
    width:195px;
    height:auto;
}

p{
    font-size: 20pt;
    font-weight:700;
    text-shadow:5px 5px 5px gray;
}

hr{
    width:610px;
    margin-left:0;
}

.dog p{
    font-size:12pt;
    font-weight:500;
    text-shadow:none;
}