/* homework_04.css */

body, ul, li{
    padding: 0;
    margin: 0;
}

#mask{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#header{
    display: flex;
    width: 100%;
    height: 120px;
    margin-left: 300px;
}

#center{
    position: relative;
}

.logo{
    margin-right: 100px;
    margin-top: 40px;
}

.logo img{
    max-width: 200px;
    max-height: 100px;
}

.menu_list{
    margin-top: 70px;
}
.menu_list li{
    list-style: none;
    float: left;
    font-size: 15pt;
    font-weight: 700;
    padding-right: 110px;
}
.login li{
    list-style-type: none;
    float: left;
    padding-right: 50px;
    padding-top: 10px;
}

#center{
    width: 100%;
    height:600px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: #F2FFED;
    position: relative;
}

.main_img{
    width:100%;
}

#center{
    width: 100%;
    height: 500px;
}

.main_img img{
    position: absolute;
    right:36%;
    top:10%;
    width: 1000px;
    height:400px;
}

.yellow_circle{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    background: #FFF29E;
    position: absolute;
    right: 20%;
    top:10%;
   
}

.red_circle{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    background: #FFC19E;
    position: absolute;
    right: 20%;
    top: 54%;
}

.my_care{
    position: relative;
}

.my_care img{
    max-width: 180px;
    max-height: 160px;
    position: absolute;
    right: 25%;
    top: 10%;
}

.my_care_title{
    margin-top: 190px;
    margin-left: 54px;
    font-weight: 800;
}

.my_record{
    position: relative;
}

.my_record img{
    max-width: 180px;
    max-height: 160px;
    position: absolute;
    right: 12%;
    top: 10%;
}

.my_record_title{
    margin-top: 190px;
    margin-left: 60px;
    font-weight: 800;
}

#insurance_wrap{
    position: relative;
}


#insurance_menu{
    width: 1500px;
    height: 400px;
    display: flex;
    position: absolute;
    top:70%;
    right: 17%;
}

.insurance_box{
    width: 200px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid black;
    margin-left: 50px;
    position: relative;
}

.img_box img{
    position: absolute;
    max-width: 80px;
    max-height: 80px;
    top:10%;
    right: 18%;
}

.img_title{
    font-weight: 800;
    position: absolute;
    top: 120%;
    right:25%;
}